RewriteEngine on

RewriteRule "^([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/?$" "index.php?id=$1&$2=$3&$4=$5&$6=$7&$8=$9"
RewriteRule "^([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/?$" "index.php?id=$1&$2=$3&$4=$5&$6=$7"
RewriteRule "^([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/?$" "index.php?id=$1&$2=$3&$4=$5"
RewriteRule "^([0-9a-z_]*)/([0-9a-z_]*)/([0-9a-z_]*)/?$" "index.php?id=$1&$2=$3"
RewriteRule "^([0-9a-z_]*)/?$" "index.php?id=$1"